<app-nav></app-nav>
<section id="form" class="py-3">
  <div class="container">
    <h1>Registro de Mecánico</h1>
    <p>Verifica que todos los datos proporcionados estén correctos</p>
  </div>
  <div class="py-2">
    <form
      class="d-flex justify-content-center flex-column align-items-center"
      (submit)="registrar()"
    >
      <div class="col-sm-3">
        <label for="nombre-mecanico" class="form-label mt-3"
          >Nombre Mecánico</label
        >
        <input
          type="text"
          name="nombre"
          id="nombre"
          [(ngModel)]="nombre"
          class="form-control"
        />
      </div>
      <div class="col-sm-3">
        <label for="correo" class="form-label mt-3">Correo Mecánico</label>
        <input
          type="email"
          name="correo"
          id="correo"
          class="form-control"
          [(ngModel)]="correo"
        />
      </div>
      <div class="col-sm-3">
        <label for="cedula" class="form-label mt-3">Cédula</label>
        <input
          type="text"
          name="cedula"
          id="cedula"
          class="form-control"
          maxlength="10"
          [(ngModel)]="cedula"
        />
      </div>
      <div class="col-sm-3">
        <label for="celular" class="form-label mt-3">Celular</label>
        <input
          type="text"
          name="celular"
          id="celular"
          class="form-control"
          maxlength="10"
          [(ngModel)]="celular"
        />
      </div>
      <div class="col-sm-3">
        <label for="fecha" class="form-label mt-3">Fecha de Nacimiento</label>
        <input
          type="date"
          name="fecha"
          id="fecha"
          class="form-control"
          [(ngModel)]="fecha"
        />
      </div>
      <div class="col-sm-3">
        <label for="contra" class="form-label mt-3">Contraseña</label>
        <input
          type="password"
          name="contra"
          id="contra"
          class="form-control"
          [(ngModel)]="contra"
        />
      </div>
      <div class="col-sm-3">
        <label for="provincia" class="form-label">Provincia:</label>
        <select
          class="form-select"
          name="provincia"
          id="provincia"
          [(ngModel)]="valorProvincia"
          (change)="seleCiudad()"
        >
          <option
            [value]="provincia"
            *ngFor="let provincia of provincias; index as i"
          >
            {{ provincia }}
          </option>
        </select>
      </div>
      <div class="col-sm-3">
        <label for="ciudad" class="form-label">Ciudad</label>
        <select
          name="ciudad"
          id="ciudad"
          class="form-select"
          [(ngModel)]="ciudad"
        >
          <option value="default" selected>Seleccione una ciudad</option>
          <option [value]="ciudad" *ngFor="let ciudad of ciudades">
            {{ ciudad }}
          </option>
        </select>
      </div>
      <div class="mt-3">
        <button type="submit" class="btn btn-danger">Registrar</button>
      </div>
    </form>
    <div id="registrado" class="text-center" *ngIf="registrado">
      <h2>Registrado correctamente</h2>
    </div>
    <div id="error" class="text-center" *ngIf="error">
      <h2>LLene todos los campos</h2>
    </div>
  </div>
</section>

<section class="py-1 container">
  <h1>Mecánicos</h1>
  <div class="table-responsive">
    <table class="table table-bordered align-middle table-sm">
      <thead class="bg-danger text-light">
        <tr>
          <th scope="col">Cédula</th>
          <th scope="col">Correo</th>
          <th scope="col">Nombre</th>
          <th scope="col">ID Mecánico</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <!-- <tbody *ngFor="let mecanico of mecanicos"> -->
      <tbody>
        <tr *ngFor="let info of mecanicos">
          <td>{{ info.cedula }}</td>
          <td>{{ info.correo }}</td>
          <td>{{ info.nombres + " " + info.apellidos }}</td>
          <td>{{ info.id_usuario }}</td>
          <td>
            <button
              class="btn btn-primary btn-block mx-2"
              id="ed-{{ info.id_usuario }}"
              type="button"
              data-toggle="modal"
              data-target="#user-form-modal"
              (click)="mostrar(info.id_usuario)"
            >
              Editar</button
            ><button
              (click)="eliminar(info.id_usuario)"
              class="btn btn-danger btn-block mx-2"
              id="eliminar"
              type="button"
            >
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div id="modalEditar" *ngIf="modalEdit">
    <div class="modal-contenido">
      <h1 class="">Editar Mecánico</h1>
      <form>
        <div class="row my-4">
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="Nombre"
              name="nombre"
              value="{{ userActual.nombres }}"
              [(ngModel)]="nombre2"
            />
          </div>
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="Apellido"
              name="apellido"
              value="{{ userActual.apellidos }}"
              [(ngModel)]="apellido2"
            />
          </div>
        </div>
        <div class="row my-4">
          <div class="col">
            <input
              type="date"
              class="form-control"
              placeholder="Fecha_Nacimiento"
              name="fecha"
              value="{{ userActual.fecha_nacimiento }}"
              [(ngModel)]="fecha2"
            />
          </div>
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="Celular"
              name="celular"
              value="{{ userActual.celular }}"
              [(ngModel)]="celular2"
            />
          </div>
          <div class="col">
            <input
              type="email"
              class="form-control"
              placeholder="Correo"
              name="correo"
              value="{{ userActual.correo }}"
              [(ngModel)]="correo2"
            />
          </div>
        </div>
      </form>
      <button
        id="btnCancelar"
        class="btn btn-secondary mr-3"
        (click)="salirModal()"
      >
        Cancelar
      </button>
      <button
        id="btnEliminar"
        class="btn bg-danger text-light mx-3"
        (click)="editar()"
      >
        Enviar
      </button>
    </div>
  </div>
</section>
<app-footer></app-footer>
