<app-nav></app-nav>
<div class="">
  <div class="container">
      <h1>Registro de automóvil</h1>
      <p>Verifica que todos los datos proporcionados estén correctos</p>
  </div>
</div>
<form class="d-flex justify-content-center flex-column align-items-center my-5">
  <div class="mb-3 col-sm-3">
    <label for="tipo-automovil" class="form-label">Tipo de automóvil</label>
    <input type="email" class="form-control" id="tipo-automovil">
  </div>
  <div class="mb-3 col-sm-3">
    <label for="placa" class="form-label">Placa</label>
    <input type="text" class="form-control" id="placa">
  </div>
  <div class="mb-3 col-sm-3">
      <label for="anio-automovil" class="form-label">Año del automóvil</label>
      <input type="number" class="form-control" id="anio-automovil">
  </div>
  <div class="mb-3 col-sm-3">
      <label for="anio-automovil" class="form-label">Propietario</label>
      <input type="text" class="form-control" id="anio-automovil">
  </div>
  <div class="mb-3 col-sm-3">
      <label for="clave-llave" class="form-label">Clave de llave</label>
      <input type="text" class="form-control" id="clave-llave">
      <div id="emailHelp" class="form-text">Solo si el auto tiene clave</div>
  </div>
  <button type="submit" class="btn btn-danger">Enviar</button>
</form>

<app-footer></app-footer>
