<app-nav></app-nav>
<div class="">
  <div class="container">
    <h1>Registro de automóvil</h1>
    <p>Verifica que todos los datos proporcionados estén correctos</p>
  </div>
</div>
<form class="d-flex justify-content-center flex-column align-items-center my-5" (submit)="registrarAuto()">
  <div class="mb-3 col-sm-3">
    <label for="cedula-prop" class="form-label">Id propietario</label>
    <input 
    type="text" 
    class="form-control" 
    id="cedula-prop"
    name="propietario" 
    [(ngModel)]="propietario"
    />
  </div>
  <div class="mb-3 col-sm-3">
    <label for="placa" class="form-label">Placa</label>
    <input 
    type="text"
    class="form-control"
    id="placa"
    name="placa" 
    [(ngModel)]="placa"
    />
  </div>
  <div class="mb-3 col-sm-3">
    <label for="marca" class="form-label">Marca</label>
    <input
    type="text"
    class="form-control"
    id="marca"
    name="marca" 
    [(ngModel)]="marca"
    />
  </div>
  <div class="mb-3 col-sm-3">
    <label for="modelo" class="form-label">Modelo</label>
    <input
    type="text"
    class="form-control"
    id="modelo"
    name="modelo" 
    [(ngModel)]="modelo"
    />
  </div>
  <div class="mb-3 col-sm-3">
    <label for="color" class="form-label">Color</label>
    <input
    type="text"
    class="form-control"
    id="color"
    name="color" 
    [(ngModel)]="color"
    />
  </div>
  <div class="mb-3 col-sm-3">
    <label for="clave-llave" class="form-label">Clave de llave</label>
    <input 
    type="text"
    class="form-control" 
    id="clave-llave"
    name="clave" 
    [(ngModel)]="clave"
    />
    <div id="emailHelp" class="form-text">Solo si el auto tiene clave</div>
  </div>
  <button type="submit" class="btn btn-danger">Enviar</button>
</form>

<app-footer></app-footer>
