<app-nav></app-nav>
<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-12 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up">GRÚAS YEROVI</h1>
        <h2 data-aos="fade-up" data-aos-delay="400">Reparamos tu vehículo e incluímos servicio de grúas</h2>
        <div data-aos="fade-up" data-aos-delay="600">
          <div class="text-center ">
            <a [routerLink]="['iniciarSesion']" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
              <span>Pide el servicio</span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>

</section><!-- End Hero -->

<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about">

    <div class="container" data-aos="fade-up">
      <div class="row gx-0">

        <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
          <div class="content">
            <h3>¿Quiénes Somos?</h3>
            <h2>Somos expertos en reparación y mantenimiento de automóviles, dándole un servicio a la medida para nuestros clientes.</h2>
            <p>
              Ponemos a disposición de nuestros clientes el servicio de mantenimiento preventivo y de reparación. En donde realizamos trabajos de mecánica general, electricidad, sistema de control eléctrico. Además de ofrecer un servicio de grúas en caso de que nuestros clientes lo requieran.
            </p>
          </div>
        </div>

        <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
          <img src="./assets/img/about.jpg" class="img-fluid" alt="">
        </div>

      </div>
    </div>

  </section><!-- End About Section -->

  <!-- ======= Values Section ======= -->
  <section id="values" class="values">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>Nuestros Servicios</h2>
        <p>Estos son nuestros servicios</p>
      </header>

      <div class="row">

        <div class="col-lg-4">
          <div class="box" data-aos="fade-up" data-aos-delay="200">
            <img src="./assets/img/s1.png" class="img-fluid" alt="">
            <h3>Mantenimiento de automóviles</h3>
            <p>Somos los mejores ofreciendo un servicio de reparación y mantenimiento de automóviles.</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box" data-aos="fade-up" data-aos-delay="400">
            <img src="./assets/img/s2.png" class="img-fluid" alt="">
            <h3>Servicio de seguimiento personalizado</h3>
            <p>Damos un servicio de seguimiento para que pueda observar el avance que se tiene en su carro.</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box" data-aos="fade-up" data-aos-delay="600">
            <img src="./assets/img/s3.png" class="img-fluid" alt="">
            <h3>Servicio de grúas en Guayaquil</h3>
            <p>En caso de requerir de una grúa dentro de Guayaquil podemos ofrecerle la mejor opción.</p>
          </div>
        </div>
      </div>
    </div>

  </section><!-- End Values Section -->

  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>Testimonios</h2>
        <p>¿Qué dicen acerca de nosotros?</p>
      </header>

      <div class="row" data-aos="fade-up" data-aos-delay="200">
        <div class="row">

          <div class="col">
            <div class="testimonial-item">
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                ¡Grúas Yerovi salvó mi vida!
              </p>
              <div class="profile mt-auto">
                <img src="./assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>Daniel</h3>
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="col">
            <div class="testimonial-item">
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                Para los ciegos la luz, para el hambriento la comida, para los sordos el sonido, para el mudo el habla, para mi Grúas Yerovi.
              </p>
              <div class="profile mt-auto">
                <img src="./assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                <h3>Margarita</h3>
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="col">
            <div class="testimonial-item">
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                ¡El mejor servicio de mantenimiento!
              </p>
              <div class="profile mt-auto">
                <img src="./assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                <h3>María</h3>
              </div>
            </div>
          </div><!-- End testimonial item -->
        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>

  </section><!-- End Testimonials Section -->

  <!-- ======= Team Section ======= -->
  <section id="team" class="team">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>Equipo</h2>
        <p>Nuestro equipo trabajador</p>
      </header>

      <div class="row gy-4">

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
            <div class="member-img">
              <img src="./assets/img/team/team-1.jpg" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>Joel Choez</h4>
              <span>Pasante</span>
              <p>ejchoez@espol.edu.ec</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="member">
            <div class="member-img">
              <img src="./assets/img/team/team-2.jpg" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>Geovanny Rojas</h4>
              <span>Pasante</span>
              <p>geomroja@espol.edu.ec</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="member">
            <div class="member-img">
              <img src="./assets/img/team/team-3.jpg" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>Jonathan García</h4>
              <span>Pasante</span>
              <p>jonfrgar@espol.edu.ec</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
          <div class="member">
            <div class="member-img">
              <img src="./assets/img/team/team-4.jpg" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>Fiorella Yerovi</h4>
              <span>Owner</span>
              <p>fgyerovi@espol.edu.ec</p>
            </div>
          </div>
        </div>

      </div>

    </div>

  </section><!-- End Team Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">

    <div class="container" data-aos="fade-up">
      <header class="section-header">
        <h2>Contacto</h2>
        <p>Contáctenos</p>
      </header>

      <div class="row gy-4">
        <div class="col-lg-6">
          <div class="row gy-4">
            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-geo-alt"></i>
                <h3>Dirección</h3>
                <p>Km. 21 Vía a la Costa<br>Guayaquil, Ecuador<br>ㅤ</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-telephone"></i>
                <h3>Llámanos</h3>
                <p>0987654321<br>0912345678<br>ㅤ</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-envelope"></i>
                <h3>Correo</h3>
                <p>gruas@gruasyerovi.com<br>contacto@gruasyerovi.com<br>ㅤ</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-clock"></i>
                <h3>Horario de apertura</h3>
                <p>Lunes - Domingo<br>9:00AM - 06:00PM<br>ㅤ</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <form action="forms/contact.php" method="post" class="php-email-form">
            <div class="row gy-4">

              <div class="col-md-6">
        <label for="cars">Nombre</label>
                <input type="text" name="name" class="form-control" placeholder="Nombres y Apellidos" required>
              </div>

              <div class="col-md-6">
        <label for="cars">Correo</label>
                <input type="email" class="form-control" name="email" placeholder="Correo" required>
              </div>

      <div class="col-md-6">
        <label for="cars">Fecha de nacimiento</label>
        <input placeholder="Fecha de nacimiento" class="form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date" required>
              </div>

              <div class="col-md-6 ">
        <label for="cars">Lugar de origen</label><br>
        <select id="origen" name="origen" class="form-control" required>
        <option disabled selected>Selecciona una opción</option>
        <option value="norte">Norte de Guayaquil</option>
        <option value="sur">Sur de Guayaquil</option>
        <option value="viacosta">Vía a la Costa</option>
        <option value="sambo">Samborondón</option>
        <option value="otro">Otro</option>
        </select>
              </div>

              <div class="col-md-12">
        <label for="cars">Mensaje</label>
                <textarea class="form-control" name="message" rows="6" placeholder="Mensaje" required></textarea>
              </div>

              <div class="col-md-12 text-center">
                <div class="loading">Cargando</div>
                <div class="error-message"></div>
                <div class="sent-message">Tu mensaje ha sido enviado. ¡Gracias!</div>

                <button type="submit">Enviar mensaje</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->

<app-footer></app-footer>
