<app-nav></app-nav>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
      <h1 class="display-4">Seguimiento</h1>
      <p class="lead">Estado del mantenimiento de su vehículo.</p>
  </div>
</div>
<!-- Seleccion -->
<div class="selector-vehiculo">
  <select class="form-select" aria-label="Disabled select example">
      <option selected>Selecciona el vehículo</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
  </select>
</div>
<!-- end seleccion-->

<!-- Tabla -->
<div class="tabla-seguimiento">
  <table class="table table-bordered align-middle">
      <thead class="bg-danger text-light">
          <tr>
              <th scope="col">Fecha</th>
              <th scope="col">Hora</th>
              <th scope="col">Detalle de reparación</th>
              <th scope="col">Mecánico</th>
              <th scope="col">Ver Más</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <th scope="row">2 de Noviembre 2021</th>
              <td>13:00</td>
              <td>Desgaste de amortiguadores.</td>
              <td>Joel Choez</td>
              <td><ngbd-modal-component></ngbd-modal-component></td>
          </tr>
          <tr>
              <th scope="row">1 de Noviembre 2021</th>
              <td>10:00</td>
              <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae architecto unde expedita soluta
                  id similique magni obcaecati. Natus maiores sunt nemo nobis, dolorem eveniet accusamus harum veniam.
                  Omnis, maiores tempore! Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga earum incidunt
                  illum quos ipsum aspernatur, nam, odit ratione exercitationem vero magni quam dignissimos esse
                  magnam unde illo ipsa est asperiores.</td>
              <td>El mecánico X</td>
              <td><ngbd-modal-component></ngbd-modal-component></td>
          </tr>
          <tr>
              <th scope="row">31 Octubre 2021</th>
              <td>17:00</td>
              <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae architecto unde expedita soluta
                  id similique magni obcaecati. Natus maiores sunt nemo nobis, dolorem eveniet accusamus harum veniam.
                  Omnis, maiores tempore! Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga earum incidunt
                  illum quos ipsum aspernatur, nam, odit ratione exercitationem vero magni quam dignissimos esse
                  magnam unde illo ipsa est asperiores.</td>
              <td>El mecánico X</td>
              <td><ngbd-modal-component></ngbd-modal-component></td>
          </tr>
      </tbody>
  </table>
</div>
<!--  End Tabla-->
<app-footer></app-footer>
