<app-nav></app-nav>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Servicio Grúas</h1>
    <p class="lead">Grúas al instante</p>
  </div>
</div>

<div id="registro-grua">
  <!-- Seleccion -->
  <div class="selector-vehiculo">
    <label for="vehiculo">Vehículo:</label>
    <input type="text" name="vehiculo" id="vehiculo" />
  </div>
  <!-- end seleccion-->

  <div class="celular">
    <label>Celular:<input type="text" name="number" /></label>
  </div>

  <div class="detalle-ubicacion">
    <label for="detalles">Detalles sobre la ubicación:</label>
    <textarea class="text-detalles" name="detalles" id="detalles"></textarea>
  </div>

  <div id="area-nav">
    <button id="pedirvan" (click)="localizar()">Localizar</button>
  </div>

  <div id="map"><p>El mapa aparece después de los permisos</p></div>

  <div class="enviar">
    <button id="enviar-form">Enviar</button>
  </div>
  <div id="ubicacion" class="my-3"></div>
</div>
<app-footer></app-footer>
