<app-nav></app-nav>
<h2 class="m-2">Bienvenido a Grúas Yerovi</h2>
<div class="profile-content">
  <div class="container">
    <div class="row">
      <div>
        <div class="profile">
          <div class="avatar">
            <img
              src="https://doodleipsum.com/700/avatar-2?shape=circle"
              class="img-raised rounded-circle img-fluid"
            />
          </div>
            <h3 class="title">Jonathan García</h3>
            <h6>Zona: Guayas</h6>
            <div class="description text-center">
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit cupiditate praesentium, sint quos, quod error libero ullam accusamus ipsa voluptates exercitationem neque culpa unde ratione autem dicta facere at beatae.
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="matrix">
    <a id="mantenimiento" [routerLink]="['']">Solicitar servicio de Taller</a>
    <a id="registroVehi" [routerLink]="['../servicio-grua']">Pedir Grúa</a>
    <a id="registroRepa" [routerLink]="['../seguimiento']">Seguimiento de Vehículo</a>
</div>
<app-footer></app-footer>

