<app-nav></app-nav>
<div class="profile">
  <h2 class="m-2">Bienvenido a Grúas Yerovi</h2>
  <img src="https://doodleipsum.com/700/avatar-2" class="img-fluid" />
</div>
<div class="text-center">
  <h3 class="title">Jonathan García</h3>
  <h6>Zona: Guayas</h6>
  <div class="description">
    <p class="px-4">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit cupiditate
      praesentium, sint quos, quod error libero ullam accusamus ipsa voluptates
      exercitationem neque culpa unde ratione autem dicta facere at beatae.
    </p>
  </div>
</div>
<div class="matrix">
  <a id="mantenimiento" [routerLink]="['../servicioTaller']">Solicitar servicio de Taller<span><i class="bi bi-tools"></i></span> </a>
  <a id="registroVehi" [routerLink]="['../servicio-grua']">Pedir Grúa<span><i class="bi bi-truck-flatbed"></i></span></a>
  <a id="registroRepa" [routerLink]="['../seguimiento']"
    >Seguimiento de Vehículo<span><i class="bi bi-journal-check"></i></span></a
  >
</div>
<app-footer></app-footer>
