.error{
  margin: 10px;
  background-color: rgb(231, 63, 63);
  color:rgb(255, 255, 255);
  border-radius: 5px;
  padding: 4px 4px 0px 4px;
  text-shadow: 2px 2px black;
}


#myform{
  padding-top: 3%;
  width: 100%;
  margin: 0px 10%;
}

#bg{
  margin: 150px 0;
  width: 25%;
  height: 50%;
}
